* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fdf6f6;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 400px;
}

.logo {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 span {
    color: #d4a5a5;
    font-weight: 300;
}

p {
    color: #888;
    font-size: 14px;
    margin-bottom: 25px;
}

.email-box {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
}

.email-box input {
    flex: 1;
    border: none;
    padding: 12px 15px;
    outline: none;
}

.email-box button {
    background: #f08c8c;
    border: none;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.right {
    flex: 1;
    background: url('img.png') no-repeat ;
}


@media (max-width: 800px) {

    .container {
        flex-direction: column;
    }

    .logo {
        text-align: left;
        margin: 20px;
    }

    .right {
        width: 100%;
        height: 300px;
        order: 1;
        background: url('img.png');
    }

    .left {
        order: 2;
        padding: 20px;
        text-align: center;
    }

    .content {
        max-width: 100%;
    }

    h1 {
        font-size: 36px;
        letter-spacing: 5px;
    }

    p {
        font-size: 14px;
        padding: 0 10px;
    }

    .email-box {
        margin-top: 20px;
    }

    .email-box input {
        padding: 15px;
    }

    .email-box button {
        padding: 0 18px;
    }
}