.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background-color: lightblue;
    display: flex;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box1 {
    background-color: red;
    display: flex;
}