body {
    background-color: black;
    background-image: url(abcd.jpg);
    color: darkgreen;
}

img {
    width: 300px;
    height: 200px;
}

#a {
    width: 1250px;
    height: 150px;
}

video {
    width: 700px;
    height: 500px;
}