.container {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (2, 150px);  
    gap: 10px;
}

.box {
    background-color: lightblue;
    display: flex;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 150px);  
    gap: 10px;
}

.box1 {
    background-color: lightgreen;
    display: flex;
}
